<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>People: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>

<%=t :hello %>
<%=t :moi %>
<%=t :hell %>


<table width = "100%" summary="" title="" cellpadding = "0" cellspacing="0" border="0">
    <tr>
      <td width="180" align="center" class="topleftbox">
          <a href="/">
          <img src="/images/koovee/topleft_logo.jpg" alt="" border="0" width="100"></a>
      </td>
      <td bgcolor="#333377"  class="banner" colspan="2">


          <table width="100%" cellpadding = "0" cellspacing="0" border="0">
            <tr>
              <th class="banner2">

              </th>
            </tr>
            <tr>
              <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr>
                      <td>
                <p align="left">                    
                        </p>
                      </td>
                      <td>
                        <p align="right">
                        </p>
                      </td>
                    </tr>
                  </table>
              </td>
            </tr>
          </table>
      </td>
    </tr>
    <tr>
      <td valign="top" class="middleleftbox">
        <%=t :stats %>:<br />
        <%=link_to t(:players), people_path %><br />
        Teams<br />

      </td>
      <td class="middle" valign="top" colspan="2">
        <%= yield  %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#333358" class="bottomleftbox">
      </td>
      <td bgcolor="#333358" class="bottombanner" align="right">
      </td>
      <td bgcolor="#333358" class="bottommenu" align="right">
      </td>
    </tr>
  </table>
  
  </body>
</html>

