<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @person.birthday %>
</p>

<p>
  <b>Height:</b>
  <%=h @person.height %>
</p>

<p>
  <b>Weight:</b>
  <%=h @person.weight %>
</p>

<p>
  <b>Description:</b>
  <%=h @person.description %>
</p>

<p>
  <b>Nick name:</b>
  <%=h @person.nick_name %>
</p>

<p>
  <b>Left handed:</b>
  <%=h @person.left_handed %>
</p>


<h2>Player in teams:</h2>
<% @person.players.each do |c| %>
<p>
<b>Number:</b><%=h c.number %><br />
<b>Stick:</b><%=h c.stick %><br />
<b>Position:</b><%=h c.position %><br />
</p> 
<% end %>
<%= link_to 'Back to People', people_path %> |
