<h1><%= @person.last_name %> <%= t(:player_in_teams) %> </h1> 

<table>
    <tr>
    <th>Player</th>  <th>Body</th>
    </tr>
    
    <% for player in @players %>
        <tr>
        <td><%=h player.number %></td>
        <td><%=h player.stick %></td>
        <td><%=h player.position %></td>
        <td><%= link_to t(:show), person_player_path(@person, player) %></td>
        <td><%= link_to t(:edit), edit_person_player_path(@person, player) %>  </td>
        <td><%= link_to t(:destroy), person_player_path(@person, player), :confirm => 'Are you sure?', :method => :delete %>  </td>  
        </tr>
    <% end %>
</table> <br />

<%= link_to t(:new_player), new_person_player_path(@person) %> 
<%= link_to t(:back_to) + ' Person', @person %>

