<% form_for(@person) do |f| %>

<%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :nick_name %><br />
    <%= f.text_field :nick_name %>
  </p>
  
  <p>
    <%= f.label :left_handed %><br />
    <%= f.check_box :left_handed %>
  </p>


<p>  
<%= f.submit "Save" %>  
</p> 

<% end %> 