<h1><%=t :list_players%></h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Birthday</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Description</th>
    <th>Nick name</th>
  </tr>

<% for person in @people %>
  <tr>
    <td><%=h person.first_name %></td>
    <td><%=h person.last_name %></td>
	<td><%=h person.birthday %></td>
    <td><%=h person.height %></td>
    <td><%=h person.weight %></td>
    <td><%=h person.description %></td>
    <td><%=h person.nick_name %></td>
	<td><%=h person.left_handed %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>
