<script type="text/javascript">
function hides(elem, based_on) {  
    if(elem != 'valid_until'){
      elem.checked = based_on.checked;
      }
    elem.disabled = based_on.checked;
  }
</script>

<% form_for([:admin, @user]) do |f| %>
    <%= error_messages_for :object => @user %>
    
    <p>
    <%= f.label :username%><br />
    <%= f.text_field :username %>
    </p>
    
    <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
    </p>
    
    <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
    </p>
    
    <p>
        
    
    <%=check_box_tag 'rights[admin]', 'true', @rights[:admin], :onclick => "
    var $elems = [leagues, clubs, teams, rights_valid_until_date_1i, rights_valid_until_date_2i, rights_valid_until_date_3i];
    $.each($elems, function(i, v) {hides(v, rights_admin);});" %>
    <%= label_tag :admin %><br /><br />

    <%= label_tag :league_admin %>:
    <%= select_tag("leagues", options_from_collection_for_select(League.all(:order => "id ASC"), :id, :name, @rights[:league_admin][:league_id]),
      options = {:disabled => @rights[:admin]}) %>
    lisää liiga<br />

    <%= label_tag :club_admin %>
    <%= select_tag("clubs", options_from_collection_for_select(Club.all(:order => "id ASC"), :id, :name, @rights[:club_admin][:club_id]),
      options = {:disabled => @rights[:admin]}) %>
    lisää clubi<br />
      
    <%= label_tag :team_admin %>
    <%= select_tag("teams", options_from_collection_for_select(Team.all(:order => "id ASC"), :id, :name, @rights[:team_admin][:team_id]), 
      options = {:disabled => @rights[:admin]}) %>
    lisää joukkue<br />
    
    <br /><br />
  
    <p>
    <%= label_tag t(:t_valid_until) %>
    <%= date_select("rights[valid_until]", "date", options = {:disabled => @rights[:admin]}) %>
    </p>
    
    </p>

<!--         
    <% fields_for @person do |a| %>
        
        <p>
        <%= a.label :first_name %><br />
        <%= a.text_field :first_name %>
        </p>
        <p>
        <%= a.label :last_name %><br />
        <%= a.text_field :last_name %>
        </p>
        <p>
        <%= a.label :birthday %><br />
        <%= a.date_select :birthday %>
        </p>
        <p>
        <%= a.label :height %><br />
        <%= a.text_field :height %>
        </p>
        <p>
        <%= a.label :weight %><br />
        <%= a.text_field :weight %>
        </p>
        <p>
        <%= a.label :description %><br />
        <%= a.text_area :description, :rows => 5 %>
        </p>
        <p>
        <%= a.label :nick_name %><br />
        <%= a.text_field :nick_name %>
        </p>
        
        <p>
        <%= a.label :left_handed %><br />
        <%= a.check_box :left_handed %>
        </p>

    <% end %>
 -->
<p>  
<%= f.submit t(:t_save) %>  
</p>

<% end %>


