<%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>  

<script type="text/javascript">
function hides(elem, based_on) {  
    if(elem != 'valid_until'){
      elem.checked = based_on.checked;
      }
    elem.disabled = based_on.checked;
  }
</script>

<%= form_for([:admin, @user]) do |f| %>
    
    <div class="field">
    <%= f.label :username%><br />
    <%= f.text_field :username %>
    </div>
    
    <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
    </div>
    
    <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
    </div>
    
    <div class="field">
            
    <%=check_box_tag 'rights[admin]', 'true', @rights[:admin], :onclick => "
    var $elems = [league_admin, club_admin, team_admin, rights_valid_until_date_1i, rights_valid_until_date_2i, rights_valid_until_date_3i];
    $.each($elems, function(i, v) {hides(v, rights_admin);});" %>
    <%= label_tag :admin %><br /><br />

    <%= label_tag :league_admin %>:
    <%= select_tag("league_admin", options_from_collection_for_select(League.all(:order => "id ASC"), :id, :name, @rights[:league_admin][:league_id]),
      options = {:disabled => @rights[:admin]}) %>
    lisää liiga<br />

    <%= label_tag :club_admin %>
    <%= select_tag("club_admin", options_from_collection_for_select(Club.all(:order => "id ASC"), :id, :name, @rights[:club_admin][:club_id]),
      options = {:disabled => @rights[:admin]}) %>
    lisää clubi<br />
      
    <%= label_tag :team_admin %>
    <%= select_tag("team_admin", options_from_collection_for_select(Team.all(:order => "id ASC"), :id, :name, @rights[:team_admin][:team_id]), 
      options = {:disabled => @rights[:admin]}) %>
    lisää joukkue<br />
    
    <br /><br />
  
    <div class="field">
    <%= label_tag t(:t_valid_until) %>
    <%= date_select("rights[valid_until]", "date", options = {:disabled => @rights[:admin]}) %>
    </div>
    
    </div>
<div class="actions">  
<%= f.submit t(:t_save) %>  
</div>

<% end %>

  %=check_box_tag 'rights[admin]', 'true', @rights[:admin], :onclick => "
  var $elems = [league_admin, club_admin, team_admin, rights_valid_until_date_1i, rights_valid_until_date_2i, rights_valid_until_date_3i];
  $.each($elems, function(i, v) {hides(v, rights_admin);});" %>
  %= label_tag :admin %><br /><br />

  <%= semantic_form_for [:admin, @user] do |f| %>  
    <% f.inputs do %>  
      <%= f.input :username %>
      <%= f.input :admin, :label => t(:t_admin) %>
      <%= f.input :date_of_birth, :start_year => 1920 %>  
      <%= f.input :clubs, :as => :check_boxes %>  
    <% end %>
    <%= f.buttons %>
 <% end %>  



