<h1><%=t :list_users%></h1>

<table>
  <tr>
    <th><%=t :t_username %></th>
    <th><%=t :t_password %></th>
    <th><%=t :t_id %></th>
    <th></th>
    <th></th>
    <th></th>
<% for user in @users %>
    <tr>
    <td><%=h user.username %></td>
    <td><%=h user.password %></td>
    <td><%=h user.id %></td>

 <!-- 
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
 -->
    <%= show_edit_and_destroy_for_table(user, 'admin_user') %>

    </tr>
<% end %>
</table>

<br />

<%= link_to t(:t_new_user), new_admin_user_path %>
