<h1><%=t :user_information %></h1>
<p>Your username is <%= @user.username %></p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @user.date_of_birth %>
</p>

<p>
  <b>Height:</b>
  <%=h @user.height %>
</p>

<p>
  <b>Weight:</b>
  <%=h @user.weight %>
</p>

<p>
  <b>Public profile:</b>
  <%=h @user.public_profile %>
</p>
<br />

<%= edit_back_links(@user, 'admin_user',admin_users_path) %>
