<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.action_name %></title>
    <%= stylesheet_link_tag 'reset', :media => "all" %>
    <%= stylesheet_link_tag 'text', :media => "all" %>
    <%= stylesheet_link_tag '960', :media => "all" %>
<!--    <%= stylesheet_link_tag 'grid', :media => "all" %>-->
    <%= stylesheet_link_tag 'layout', :media => "all" %>
    <%= stylesheet_link_tag 'nav', :media => "all" %>
    <%= javascript_include_tag 'jquery' %>
<!--    <%= stylesheet_link_tag 'scaffold' %> -->
</head>

<body>
<div class="container_12">
  <div class="grid_12">
  <br />
  </div>
  <!-- end .grid_12 -->
  <div class="clear"></div>
  <div class="grid_2">
	  <p>
        <%= link_to(image_tag("rysty/topleft_logo.gif", :alt => "Rysty"), '/') %>
	  </p>
  </div>
  <!-- end .grid_1 -->
  <div class="grid_6">
      <p></p>
  </div>
  <div class="grid_2">
    <p>
      <%= link_to(image_tag("finland.gif", :alt => t(:fi), :height => '16', :width => '26'), '?locale=fi') %>
      <%= link_to(image_tag("united_kingdom.gif", :alt => t(:en), :height => '16', :width => '32'), '?locale=en') %>
    </p>
  </div>
  <div class="grid_2">
      <% if session[:id] == nil %>
      <p class="box"><%= link_to t(:t_login), '/login' %></p>
    <% else %>
      <p class="box">
        <%=link_to t(:t_my_account), '/my_account' %><br />user_id: <%= session[:id] %><br />
        <%=link_to t(:t_logout), '/logout' %>
      </p>
    <% end %>
  </div>
  <!-- end .grid_11 -->
  <div class="clear"></div>
  <div class="grid_12">
    <ul class="nav main">
    <!-- 
      <li><%=link_to t(:scores), '#' %>
      <li><%=link_to t(:schedule), '#' %>
        <ul>
	        <li><%=link_to t(:by_week), '#' %>
	        <li><%=link_to t(:by_month), '#' %>
	        <li><%=link_to t(:by_season), '#' %>
        </ul>--!>
      <li><%=link_to t(:t_standings), contests_path %>
        <!--
  	  <li><%=link_to t(:clubs), '#' %></li>
      <li><%=link_to t(:players), '#' %></li>
      <li><%=link_to t(:teams), '#' %></li>
      <li><%=link_to t(:gallery), '#' %>      
        <ul>
          <li><%=link_to t(:videos), '#' %>
          <li><%=link_to t(:photos), '#' %>
        </ul>
      <li><%=link_to t(:news), '#' %></li>
      <li><%=link_to t(:stats), '#' %>
      	<ul>
      	  <li><%=link_to t(:league_leaders), '#' %>
      	  <li><%=link_to t(:individuals), '#' %>
      	  <li><%=link_to t(:teams), '#' %>
        </ul>
      </li>
       -->
    <% if is_admin %>
      <li class="secondary"><%=link_to t(:t_admin), '#' %>
        <ul>
          <li><%=link_to t(:t_new_contest), new_admin_contest_path %></li>
          <li><%=link_to t(:t_new_user), new_admin_user_path %></li>
          <li><%=link_to t(:t_users_list), admin_users_path %></li>
        </ul>
      </li>
    <% end %>
    <% if is_club_admin %>
      <li class="secondary"><%=link_to t(:t_my_clubs), login_required_club_admins_path %>
      </li>
    <% end %>
    <% if is_contest_admin %>
      <li class="secondary"><%=link_to t(:t_my_contests), login_required_contest_admins_path %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="grid_2">
  <br />
    <% if is_logged_in %>
      <h6><%= t(:t_followed_contests) %></h6>
      <br />
      <%= list_contests %><br />
      <%= link_to( t(:t_add_contest_to_list), new_login_required_followed_contest_path )%>
      <br /><br />
    <% end %>
  </div>
  <div class="grid_8">  
    <p>
      <%= flash[:notice] %>
	    <%= yield  %>
	  </p>
  </div>
  <div class="grid_2">
  <%= yield :t_eague_admin_menu %>
  </div>
  <div class="clear"></div>
  <div class="grid_12">
    <p class="box">
    bottom
    </p>
  </div>
  <div class="clear"></div>

</div>

</body>
</html>

